/* Fonts */

@font-face {
    font-family: 'PT_Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('./assets/fonts/PT_Sans/PTSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'PT_Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('./assets/fonts/PT_Sans/PTSans-Bold.ttf') format("truetype");
}

/* Media Queries */

@media (min-width: 0px) {
    body {
        font-size: 0.8rem;
    }

    #mobileInfoButton {
        position: absolute;
        left: 10%;
        top: 3vh;
    }

    #mobileInfoButton > object {
        pointer-events: none;
        width: 1.8rem;
        height: 1.8rem;
    }

    #header button {
        width: 30%;
    }

    #upperMain {
        margin-top: 1em;
        gap: 1em;
    }

    #upperMain > div {
        display: flex;
        flex-direction: column;
    }

    #upperMain button {
        width: 6.3em;
        height: 3em;
    }

    #directedSliderContainer {
        grid-row: 1;
        grid-column: 1/3;
        align-items: center;
        justify-content: center;
    }

    #popup.show {
        margin-left: 2em;
    }

    #lowerMain {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 10% 50% 15% 15%; /* ausblenden sorgt für höheres bottom */
    }

    #queueContainer {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        justify-content: center;
        gap: 0.3em;
    }

    #queue {
        gap: 0.1em;
    }

    #queueText {
        margin-bottom: -0.5em;
    }

    #sequenceContainer {
        grid-row: 2;
        grid-column: 2;
        display: flex;
        justify-content: center;
        gap: 0.3em;
    }

    #sequence {
        gap: 0.1em;
    }

    #sequenceText {
        margin-bottom: -0.5em;
    }

    #info {
        display: none;
    }



    #statusText {
        grid-row: 4;
        grid-column: 1/3;
        justify-content: end;
        margin-bottom: 2em;
    }

    #graphSvg {
        grid-column: 1/3;
        grid-row: 3;
    }

    #bottom {
        grid-column: 1/3;
        grid-row: 5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgba(10, 10, 10, 0.96);
    }

    #speedSliderContainer {
        grid-row: 2;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    #bottomMiddle {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1;
        align-self: center;
        align-items: center;
    }
}

@media (min-width: 375px) {

    body {
        font-size: 0.8rem;
    }

    #header button {
        font-size: 0.85rem;
    }

    #upperMain {
        gap: 1.8rem;
    }

    #bottom button {
        font-size: 0.75rem;
    }

    #navigation {
        width: 10rem;
    }

    #statusText p {
        font-size: 1rem;
    }
}

@media (min-width: 640px) {
    body {
        font-size: 0.9rem;
    }

    #header button {
        font-size: 1.1rem;
        width: 20%;
    }

    #upperMain button {
        font-size: 0.8rem;
        height: 1.6rem;
    }

    #popup {
        padding-left: 0.4rem;
    }

    #navigation {
        width: 10rem;
    }

    #statusText p {
        font-size: 1.3rem;
    }
}

@media (min-width: 960px) {
    body {
        font-size: 1rem;
    }

    #header button {
        font-size: 1.3rem;
    }

    #upperMain button {
        font-size: 0.9rem;
    }

    #bottom button {
        font-size: 0.9rem;
    }

    #statusText p {
        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    body {
        font-size: 1rem;
    }

    #mobileInfoButton {
        display: none;
    }

    #header button {
        font-size: 1.3rem;
    }

    #lowerMain {
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 10% 30% 53% 7%;
    }

    #info {
        display: flex;
    }

    #popup {
        padding-left: 0.5rem;
    }

    #bottom {
        grid-column: 1 / 4;
        grid-row: 4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: rgba(10, 10, 10, 0.96);
    }

    #bottomMiddle {
        display: flex;
        justify-content: center;
        grid-column: 2;
        align-self: center;
    }

    #speedSliderContainer {
        width: 17rem;
        grid-row: 1;
        grid-column: 1;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #queueContainer {
        justify-content: flex-start;
        flex-direction: column;
        grid-column: 1;
        grid-row: 2;
        margin-left: 5%;
    }

    #graphSvg {
        grid-column: 2;
    }

    #sequenceContainer {
        justify-content: flex-start;
        flex-direction: column;
        grid-column: 3;
        grid-row: 2;
    }

    #directedSliderContainer {
        align-items: center;
        grid-column: 1;
    }


    #statusText {
        grid-column: 2;
        grid-row: 1;
        justify-content: center;
        align-items: center;
    }

}

/* Miscellanies CSS */

html {
    font-size: 100%;
}

body {
    overflow: hidden;
    width: 100%;
    margin: 0;
    font-family: "PT_Sans", normal, sans-serif;
    font-weight: 700;
    color: #3E3E3E;
    background-color: ghostwhite;
}

button {
    font-family: "PT_Sans", normal, sans-serif;
    font-weight: 700;
    color: #3E3E3E;
}

#header {
    gap: 0.5em;
    display: flex;
    position: absolute;
    height: 10vh;
    width: 100%;
    justify-content: center;
    background-color: cadetblue;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

#header > button {
    position: relative;
    top: 20%;
    height: 60%;

    border-radius: 1em;
    border: none;
    transition: background-color 300ms;
}

#header > button:enabled:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 150ms;
    transform: scale(0.95);
}

#header > *:disabled {
    background-color: ghostwhite;
}

#header > *:enabled {
    background-color: #cccccc;
}

#main {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#upperMain {

    justify-content: center;
    display: flex;
}

#upperMain > button {
    border-radius: 1em;
    border: none;
}

#upperMain > button:hover {
    background-color: #cccccc;
    transition: background-color 220ms;
}

input {
    border: none;
    border-bottom: 2px solid cadetblue;
    background-color: ghostwhite;
}

input:focus {
    outline: none;
}

input:disabled {
    background-color: #e5e5e5;
}

#lowerMain {
    height: 95%;
    display: grid;

}

#directedSliderContainer {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

#directedSlider {
    background-color: cadetblue; /*Hintergrund wenn Knopf links ist */
    align-self: center;
    border-radius: 1.2em;
    border: 0.15rem solid #3E3E3E;
    width: 3rem;
    min-width: 3rem;
    height: 1.2rem;
}

#directedSliderHandle {
    border-radius: 1rem;
    background-color: rgb(62, 62, 62);
    position: absolute;
    height: 0.9rem;
    width: 0.9rem;
    padding: 0.1rem;
    margin: 0.05rem;
    pointer-events: none;
}

#info {
    grid-column: 1;
    grid-row: 3;

    align-items: center;
    margin-left: 5%;
}

#bfsText {
    display: none;
}

#queue {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

#queue > p {
    margin-bottom: 0;
}

#statusText {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

#statusText > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#secondStatusLine {
    text-align: center;
}

#sequence {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

#sequence > p {
    margin-bottom: 0;
}

#divStartButton > button {
    border: none;
    border-radius: 1em;
    height: 2em;
    transition: opacity 500ms;
    width: fit-content;
}

#divStartButton > button.hidden {
    opacity: 0;
    width: 0;
    padding: 0;
    pointer-events: none;
}

#divStartButton > button:hover {
    background-color: #cccccc;
    transition: background-color 220ms;
}

#navigation {
    align-self: center;
    display: flex;
    flex-direction: row;
}

#navigation.hidden {
    display: none;
}

#navigation object {
    pointer-events: none;
}

#navigation > div {
    opacity: 0.8;
}

#navigation > div.active {
    opacity: 1;
}

.iconContainer {
    width: 35px;
    height: 35px;
}

.iconContainer > * {
    position: absolute;
}

#speed {
    align-self: center;
    color: rgb(196, 196, 196);
}

#slidercontainer {
    flex-direction: row;
    height: fit-content;
    width: 10rem;
    align-self: center;
}

#slidercontainer > input {
    border-bottom: 0;
}

#speedSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: ghostwhite;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5em;
}

#speedSlider:hover {
    opacity: 1;
}

#speedSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5em;
    height: 1em;
    border-radius: 5%;
    background: #5F9EA0FF;
    cursor: pointer;
}

#speedSlider::-moz-range-thumb { /* für firefox */
    width: 0.5em;
    height: 1em;
    background: #5F9EA0FF;
    cursor: pointer;
}

#popup {
    display: none;
    position: absolute;
    font-size: 70%;
    background-color: ghostwhite;

}

#popup.show {

    display: block;

}

#help * {
    pointer-events: none;
}

#graphSvg {

    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
}

#graphSvg > circle {
    fill: #3e3e3e;
    stroke: cadetblue;
    stroke-width: 0;
}

#graphSvg > line {
    stroke: #2d2d2d;
    stroke-width: 0.5%;
}

#graphSvg > text {
    fill: #cccccc;
    text-anchor: middle;
    dominant-baseline: central;
}

#graphSvg > defs > marker {
    fill: #2d2d2d;
}

#overlay {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
}

#overlay.active {
    display: block;
}

#overlayBG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    opacity: 0.7;
}

#overlayWindow {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
}

#overlayWindow > p {
    max-width: 70vw;
    height: fit-content;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    pointer-events: none;
}
